<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
  <div class="cadastro-container">
    <div class="cadastro-box">
    <img src="/imagens/logo-meus-filmes.png" alt="Catafilme" class="logo-img">

      <h2>Cadastre-se</h2>
      <form id="formCadastro">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Cadastrar</button>
      </form>
      <div class="voltar-login">
        <a href="/login">Voltar para o login</a>
      </div>
    </div>
  </div>
  <script src="/js/cadastro.js"></script>
</body>
</html>
