body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('/imagens/mosaico2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cadastro-container {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.65);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 350px;
    color: white;
  }
  
  .cadastro-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .cadastro-box h2 {
    margin-bottom: -30px;
    text-align: center;
    color: #ffffff;
  }
  
  .cadastro-box input {
    background: #333;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px; /* ADICIONADO espaçamento entre os campos */

  }
  
  .cadastro-box button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    margin-top: 5px;
  }
  
  .cadastro-box button:hover {
    background-color: #b20710;
  }
  
  .voltar-login {
    margin-top: 3px;
    text-align: center;
  }
  
  .voltar-login a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .voltar-login a:hover {
    color: #e50914;
    text-decoration: underline;
  }

  .logo-login {
    display: block;
    margin: 0 auto 20px auto; /* centralizado e com espaçamento abaixo */
    height: 40px;
    transform: scale(2.5);
    transform-origin: center;
  }
  
  